@using AssetManagementApp.Models
@using CommunityToolkit.Maui.Views;
@using MASMauiApp.Models
@using MASMauiApp.XamlPages;
@using System.Collections.ObjectModel
@using Newtonsoft.Json
@inject NavigationManager NavLink
@inject SweetAlertService Swal
@page "/Home"
<style>
    .heading-page {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
}

.home-a {
    color: inherit;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

        .home-a:hover, .home-a:focus {
        color: #ababab;
        text-decoration: none;
        outline: 0 none;
    }

p {
        margin-bottom: 20px !important;
}

    p:last-child {
            margin-bottom: 0 !important;
    }

/*
 * Selection color
 */
::-moz-selection {
    background-color: #FA6862;
    color: #fff;
}

::selection {
    background-color: #FA6862;
    color: #fff;
}

/*
 *  CSS Helper Class
 */
.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.pt-table {
    display: table;
    width: 100%;
    height: calc(100vh - 4px);
}

.pt-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.relative {
    position: relative !important;
}


/*------------------------------------------------
	Start Styling
-------------------------------------------------*/

.site-wrapper {
    border-top: 4px solid #ff0037;
}


.page-title {
    margin-bottom: 50px;
}

    .page-title img {
        margin-bottom: 20px;
    }

    .page-title h2 {
        font-size: 68px;
        margin-bottom: 25px;
        position: relative;
        z-index: 0;
        font-weight: 900;
        text-transform: uppercase;
    }

    .page-title p {
        font-size: 16px;
    }

    .page-title .title-bg {
        color: rgba(30, 37, 48, 0.07);
        font-size: 158px;
        left: 0;
        letter-spacing: 10px;
        line-height: 0.7;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: -1;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

/*------------------------------------------------
    Home Page
-------------------------------------------------*/

.page-home {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

/* End of container */
.hexagon-item {
    cursor: pointer;
    width: 200px;
    height: 173.20508px;
    margin-bottom: 50px;
    z-index: 0;
    position: relative;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}


    .hexagon-item:hover {
        z-index: 1;
    }

        .hexagon-item:hover .hex-item:last-child {
            opacity: 1;
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
        }

        .hexagon-item:hover .hex-item:first-child {
            opacity: 1;
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }

            .hexagon-item:hover .hex-item:first-child div:before,
            .hexagon-item:hover .hex-item:first-child div:after {
                height: 5px;
            }

        .hexagon-item:hover .hex-item div::before,
        .hexagon-item:hover .hex-item div::after {
            background-color: #ff0037;
        }

        .hexagon-item:hover .hex-content svg {
            -webkit-transform: scale(0.97);
            -moz-transform: scale(0.97);
            -ms-transform: scale(0.97);
            -o-transform: scale(0.97);
            transform: scale(0.97);
        }

.hex-item {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100px;
    height: 173.20508px;
}

    .hex-item:first-child {
        z-index: 0;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .hex-item:last-child {
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 1;
    }

    .hex-item div {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        width: 100px;
        height: 173.20508px;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        -o-transform-origin: center center;
        transform-origin: center center;
    }

        .hex-item div::before, .hex-item div::after {
            background-color: #1e2530;
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
            -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
            -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
            transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        }

        .hex-item div:before {
            top: 0;
        }

        .hex-item div:after {
            bottom: 0;
        }

        .hex-item div:nth-child(1) {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        .hex-item div:nth-child(2) {
            -webkit-transform: rotate(60deg);
            -moz-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
            -o-transform: rotate(60deg);
            transform: rotate(60deg);
        }

        .hex-item div:nth-child(3) {
            -webkit-transform: rotate(120deg);
            -moz-transform: rotate(120deg);
            -ms-transform: rotate(120deg);
            -o-transform: rotate(120deg);
            transform: rotate(120deg);
        }

.hex-content {
    color: #fff;
    display: block;
    height: 180px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(-30deg);
    width: 156px;
}

    .hex-content .hex-content-inner {
        left: 50%;
        margin: -3px 0 0 2px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .hex-content .icon {
        display: block;
        font-size: 36px;
        line-height: 30px;
        margin-bottom: 11px;
    }

    .hex-content .title {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .hex-content svg {
        left: -7px;
        position: absolute;
        top: -13px;
        transform: scale(0.87);
        z-index: -1;
        -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    }

    .hex-content:hover {
        color: #fff;
    }

/*------------------------------------------------
    Welcome Page
-------------------------------------------------*/

.pt-table.desktop-768 .pt-tablecell {
    padding-bottom: 110px;
    padding-top: 60px;
}

.hexagon-item:hover .icon i {
    color: #ff0037;
    transition: 0.6s;
}


.hexagon-item:hover .title {
    -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
</style>
<div class="card m-auto col-lg-12 col-xl-12 col-md-12 col-sm-12">
    <main class="site-wrapper">
        <div class="pt-table desktop-768">
            <div class="pt-tablecell page-home relative">
                <div class="overlay"></div>

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="page-title  home text-center">
                                <span class="heading-page text-black">
                                    Chức Năng
                                </span>

                            </div>
                            <div class="m-auto col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="hexagon-item" @onclick="OpenPopup">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a class="home-a hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fas fa-qrcode"></i>
                                                    </span>
                                                    <span class="title font-weight-bold">Scan Lỗi</span>
                                                </span>
                                                
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm d-none">
                                        <div class="hexagon-item" @onclick="OpenPopupRepair">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a class="home-a hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fas fa-wrench"></i>
                                                    </span>
                                                    <span class="title font-weight-bold">Scan Repair</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm"> 
                                        <div class="hexagon-item" @onclick="OpenListDefect">
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <div class="hex-item">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                            <a class="home-a hex-content">
                                                <span class="hex-content-inner">
                                                    <span class="icon">
                                                        <i class="fas fa-list"></i>
                                                    </span>
                                                    <span class="title font-weight-bold">List Defect</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="fixed-bottom bg-white">
                                        <p>Asset Code:</p>
                                        <input id="inputText3" type="text" @bind="@InputCode" class="form-control">
                                        <button class="btn btn-primary mt-3 w-100" @onclick="OpenPopupClick">Enter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@code {
    public string InputCode = "";
    public Business.HistoryRepairBusiness repairBusiness = new Business.HistoryRepairBusiness();
    private async void OpenPopup()
    {
        var result = await App.Current.MainPage.ShowPopupAsync(new ScanBarcode());
        if (result.ToString().Equals("repair"))
        {
            NavLink.NavigateTo("/historyrepairmachine");
        }
        else
        {
            NavLink.NavigateTo("/assetinfo");
        }
        
        StateHasChanged();
    }
    private async void OpenPopupRepair()
    {
        var result = await App.Current.MainPage.ShowPopupAsync(new ScanBarcode());
        NavLink.NavigateTo("/historyrepairmachine");
        StateHasChanged();
    }
    private async void OpenListDefect()
    {
        NavLink.NavigateTo("/listdefectmachine");
        StateHasChanged();
    }
    private async Task<AssetInfo> GetAssetInfo(string assetCode)
    {
        try
        {
            var assetInfo = new AssetInfo();
            using (var client = new HttpClient { BaseAddress = new Uri(MASMauiApp.Global.MasApiUrl.amsUrl) })
            {
                var api = "/api/getassetinfo/" + assetCode;
                var response = await client.GetAsync(api);
                if (response.IsSuccessStatusCode)
                {
                    var content = await response.Content.ReadAsStringAsync();
                    if (!string.IsNullOrEmpty(content))
                    {
                        assetInfo = JsonConvert.DeserializeObject<AssetInfo>(content);
                        MASMauiApp.Global.ObjClass.AssetInfo = assetInfo;
                        return assetInfo;
                    }
                }
                else { return null; }
            }
            return null;
        }
        catch (Exception)
        {

            throw;
        }
    }
    private async void OpenPopupClick()
    {
        if (InputCode != null && InputCode != "")
        {
            AssetInfo result = await GetAssetInfo(InputCode);
            if (result != null)
            {
                MASMauiApp.Global.ObjClass.AssetInfo = result;
                //Global.ObjClass.AssetCode = "2156120910304";
                MASMauiApp.Global.ObjClass.AssetCode = InputCode;
                MASHistoryRepair item = new MASHistoryRepair();
                Global.ObjClass.AssetInfo = result;

                List<MASHistoryRepair> listrepair = new List<MASHistoryRepair>();
                listrepair = await repairBusiness.GetMASHistoryRepairAsset(result.AssetCode);
                var temp = listrepair.Where(x => x.DefectId == 0).ToList();
                int range = temp.Where(x => x.RepairStatus == true).ToList().Count;
                if (range > 0)
                {
                    NavLink.NavigateTo("/historyrepairmachine");
                }
                else
                {
                    item.AssetCode = InputCode;
                    item.DefectId = 0;
                    item.MethodId = 0;
                    item.RepairStatus = true;
                    item.BrokenStatus = false;
                    item.BeginWork = DateTime.Now;
                    item.EndWork = null;
                    item.WorkStatus = false;
                    item.CreatedBy = MASMauiApp.Shared.SevicesBase.LOGGEDUSER.UserId.ToString();
                    await repairBusiness.Insert(item);
                    NavLink.NavigateTo("/assetinfo");
                }
            }
            else
            {
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Thông báo",
                        Text = "QrCode không tìm thấy!",
                        Icon = SweetAlertIcon.Error,
                        CancelButtonText = "Đóng"
                    });
            }
        }
        else
        {
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Thông báo",
                    Text = "Dữ liệu không được để trống!",
                    Icon = SweetAlertIcon.Warning,
                    CancelButtonText = "Đóng"
                });
        }
    }
}
